$first : #9356DC;
$second : #FF79DA;

$bg-header : #f6f6f6;

$toast : #99e2d0;
$toast-text : #2da285;
$smoke : #eaeaea;
$icons : #7e7e7e;
$icons-hover : #9356dc;
$button-hover : #f5edff;
$bg-footer : #353535;